@model CRUD_V2.Models.Talent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Talent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivingArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivingArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraduteSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduteSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.EMail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
