@model CRUD_V2.Models.Employment_History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employment_History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.EMail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmploymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
